body{
    font-size: 16ppx;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;

}

#logo-img{
    background: url('../imagess/icon-values.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    
}

.navbar-brand{ 
   padding-top: 25px;
}

.navbar-brand h1 {/*restaurants name*/
font-family: 'Lora', serif;
color: #557c3e;
font-size: 1.8em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span {
    vertical-align: middle;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a {
    color: #951c49;
    text-align: center;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}
#phone {
    margin-top: 5px;
}
#phone a {/*phone number*/
    text-align: right;
    padding-bottom: 0;
}
#phone div {/*we deliver*/
      color: #557c3e;
      text-align: right;
      padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/******large devices******/
@media(min-width: 1200px){

}
/*****medium devices*****/
@media(min-width:992px) and (max-width: 1199px){
/*header*/
#logo-img{
    background: url(../imagess/icon-values\ \(1\).png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
}
/*end header*/
}
/*****small devices*****/
@media (min-width: 768px) and (max-width: 991px){

}

/****extra-small devices*****/
@media (max-width:767px){
  /*header*/
  .navbar-brand{
      padding-top: 10px;
      height: 80px;
  }
  .navbar-brand h1 { /*restaurant name*/
       padding-top: 10px;
       font-size: 5vw; /* 1vw = 1% of viewport width*/
  }
  .navbar-brand p { /*luo traditional meals*/
        font-size: .6em;
        margin-top: 12px;
  }
  .navbar-brand p img { /*samak image*/
        height: 20px;
  }
}