body{
    font-size: 16ppx;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;

}

#logo-img{
    background: url('../imagess/icon-values.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    
}

.navbar-brand{ 
   padding-top: 25px;
}

.navbar-brand h1 {/*restaurants name*/
font-family: 'Lora', serif;
color: #557c3e;
font-size: 1.8em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span {
    vertical-align: middle;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a {
    color: #951c49;
    text-align: center;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}
#phone {
    margin-top: 5px;
}
#phone a {/*phone number*/
    text-align: right;
    padding-bottom: 0;
}
#phone div {/*we deliver*/
      color: #557c3e;
      text-align: right;
      padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/*END HEADER*/
/*FOOTER*/
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    
}
.panel-footer div.row {
    margin-bottom: 35px;
}
#hours, #address {
      line-height: 2;
}
#hours > span, #address > span {
    font-size: 1.3em;
}
#address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials {
    font-style: italic;
}
#testimonials p:nth-child(2) {
    margin-top: 25px;
}

/*End of footer*/

/*HOME page */
.container .jumbotron {
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
    background: url('../imagess/fishes123.jpg') no-repeat;
    background-position: center;
    
}

#specials-tile {
    background: url('../imagess/fish-bbQ.jpg') no-repeat;
    background-position: center;
} 

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .7;
}

/******large devices******/
@media(min-width: 1200px){
 .container .jumbotron {
      background: url('../imagess/restaurant101-large\ \(1\).jpg') no-repeat;
      height: 675px;
      
  }
}

/*****medium devices*****/
@media(min-width:992px) and (max-width: 1199px){
/*header*/
#logo-img{
    background: url('../imagess/icon-values\ \(1\).png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
/*end header*/


.container .jumbotron {
    background: url('../imagess/restaurant101-medium2.jpg') no-repeat;
    height: 558px;
    
}
}
/*****small devices*****/
@media (min-width: 768px) and (max-width: 991px){
   /*home page*/
   .container .jumbotron {
       background: url('../imagess/restaurant101-smallDevices.jpg') no-repeat;
       height: 400px;
      
   }
   /*end home page*/

}

/****extra-small devices*****/
@media (max-width:767px){
  /*header*/
  .navbar-brand{
      padding-top: 10px;
      height: 80px;
  }
  .navbar-brand h1 { /*restaurant name*/
       padding-top: 10px;
       font-size: 6vw; /* 1vw = 1% of viewport width*/
  }
  .navbar-brand p { /*luo traditional meals*/
        font-size: .6em;
        margin-top: 12px;
  }
  .navbar-brand p img { /*samak image*/
        height: 20px;
  }
  #collapsable-nav a { /*collapsed nav menu glyph*/
    font-size: 1.2em;
}
#collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

#call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49; 
  }
  #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
  }
  /*end header*/
  /* Footer */
  .panel-footer section {
      margin-bottom: 30px;
      text-align: center;
  }
  .panel-footer section:nth-child(3) {
      margin-bottom: 0; /* margin already exists on the whole row*/
  }
  .panel-footer section hr {
      width: 50%;
  }
  /*End footer*/
}
  /*home page*/
  .container .jumbotron {
      margin-top: 30px;
      padding: 0;    
  }


/********super extra small devices***********/
@media (max-width: 479px){
    /*****header******/
    .navbar-brand h1 { /*restaurant name*/
        padding-top: 5px;
        font-size: 6vw;
    }

    /***home page*/
    #menu-tile, #specials-tile{
        width: 280px;
        margin: 0 auto 15px;
    }

}
