*{
    box-sizing: border-box;
}

body{
    font-size: 16ppx;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;

}

#logo-img{
    background: url('../imagess/image2-logo.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    
}

